<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wiki Maps Profile</title>
</head>
<body>
  <h1>Profile</h1>
  <ul>
    <% for (map of favMaps) { %>
      <li>
        <%= map.map_category %>
      </li>
      <form method="post" action="/favorite_maps/<%=map.user_id%>/delete">
        <input type="hidden" name="mapID" value="<%= map.map_id %>">
        <button type="submit">💔</button>
      </form>
      <%}%>
      
  </ul>
</body>
</html>