<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wiki Maps Profile</title>
</head>
  <title>My Maps</title>
  <style>
    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 30px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .column {
      float: left;
      width: 33%;
      padding: 10px;
      text-align: center;
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    li {
      cursor: pointer;
      text-decoration: underline;
      color: blue;
    }
  </style>
</head>
<body>
  <div class="row">
    <div class="column">
      <h2>Name</h2>
    </div>
    <div class="column">
      <h2>Email</h2>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h2>My Maps</h2>
      <ul>
        <li><a href="map1.html">Map Name 1</a></li>
          <li><a href="map2.html">Map Name 2</a></li>
        <li><a href="map3.html">Map Name 3</a></li>
      </ul>
    </div>
    <div class="column">
      <h2>Favorite Maps</h2>
      <ul>
        <li><a href="fav-map1.html">Map Name 1</a></li>
        <li><a href="fav-map2.html">Map Name 2</a></li>
        <li><a href="fav-map3.html">Map Name 3</a></li>
        <li><a href="fav-map4.html">Map Name 4</a></li>
      </ul>
    </div>
  </div>
</body>
</html>

